*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.volei-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10px;
    width: 460px;
}

.volei-card2 {
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10px;
    width: 460px;
}

.volei-card h1{
    text-align: center;
}

.header{
    background-color: green ;
    color: yellow;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.formulario input{
    display: block;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid green;
    border-radius: 10px;
    width: 350px;
    margin-bottom: 10px;
    margin: 10px auto;
}
fieldset{
    border: none;
}
.form{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.formulario button, .btn{
    background-color:yellow;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 155px;
    text-align: center;
}

.fundo{
    background-color: green;
    color: white;
}

body{
    min-height:100vh;
}
.card{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    flex-direction:row ;
}