<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
{% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul id="messages" class="list-unstyled">
          {% for message in messages %}
              <li class="alert alert-success">{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
{% endwith %}
<body>
    <header class="">
        <h1>{{ Titulo }}</h1>

    </header>
        <div class="card">
            {% for volei in ListaJogadores %}
            <div class="volei-card">
                <h2>Nome: {{ volei.nome }}</h2>
                <p>Idade: {{ volei.idade }}</p>
                <p>Posição: {{ volei.posicao }}</p>
                <p>Nível de experiencia: {{ volei.nivel }}</p>
                <p>Cidade/estado: {{ volei.cidade }}</p>
                <p>Dia: {{ volei.dia }}</p>
                <p>Horário: {{ volei.horario }}</p>
                <br>
                <a href="excluir/{{ volei.nome }}">Excluir</a>
                <a href="editar/{{ volei.nome }}">Editar</a>
            </div>
            {% endfor %}
        </div>
</body>
</html>